.alert-success {
    z-index: 5;
    display: none;
}

body {
    background-color:transparent !important;
}

.centeredPasswordForm {
    width:75%;
    padding-left:25%;
}

.close-right {
    position: absolute !important;
    right: 10px !important;
}

.embed-som-top { 
    height: 100%; 
}

.fas {
    margin-right:10px;
    width: 15px;
}

html, body, .video-js { 
    height:100%; 
    width:100%; 
    padding:0; 
    margin:0; 
    }

.modal-header {
    border:0 !important;
}

.menuOptions {
    border:1px solid #FFF;
    padding:10px;
    background-color: rgb(84, 159, 215, 0.7);
    position: absolute;
    color: #FFF;
    z-index: 3;
    display: none;
}

.menuOptionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 15px;
    line-height: 28px;
}

.menuLink {
    text-decoration: none;
    color: #FFF !important;
}

.menuLink:hover {
    text-decoration: none;
    color: #FFF !important;
}

.noContent {
    position: absolute !important;
    top: 15%;
    left: 20%;
    width: 60%;
}

.noContentIcon {
    width: 20%;
}

.noContentLine1 {
    color: #F27C59;
    font-size: 2.3vw;
}

.noContentLine2 {
    font-size: 2.0vw;
}

.overlay {
    z-index: 3 !important;
    position: fixed;
    left: 10%;
    color:#FFF;
    font-size: 23px;
    text-decoration: none;
    bottom: 40%;
    margin-left: -30px;
    width: 100%;
}

.overlayBG {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.overlayTitle{ 
    font-size:2.5vw;
}

.overlayPublished{ 
    font-size:1.7vw;
    padding-bottom:15px;
}

 .overlayDescription {
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.passwordText {
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.passwordIcon {
    background-color:#FFF;
    padding-bottom: 4px;
}

.playButton {
    margin-top: 3.0vw;
    padding: 25px;
    border-radius: 25px;
    height: 24px;
    width: 27px;
    background-color: #FFF;
    cursor: pointer;
}

.playButton:hover{
  background-color: rgba(255,255,255, 0.7);
}

.shareButton {
  background-color: #FFF;
}

.shareButton:hover{
  background-color: rgba(255,255,255, 0.7);
}

.screenshot {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.shareButton {
    margin-top:3.0vw;
    padding:25px;
    border-radius: 25px;
    height: 24px;
    width: 27px;
    cursor: pointer;
}

.video-js.vjs-skin-som.vjs-paused {
    display:block !important;
}

.vjs-big-play-button {
    display: none !important;
}

.vjs-control-bar {
    display: inline-flex !important;
    z-index: 3 !important;
}

.vjs-modal-dialog.vjs-text-track-settings {
    z-index: 4;
}

@media only screen and (max-width: 600px) {
    .passwordText {
      font-size: 17px;
    }
    .centeredPasswordForm {
      width: 90%;
      text-align: center;
      padding-left: 20%;
    }
  }