.active{
    border-bottom: 7px solid #0B2265;
}

a {
    color: #0B2265 !important;
}

a:hover {
    text-decoration: none;
}

body {
    padding-top:0 !important;
    overflow: hidden;
}

.advertBanner {
    color: #FFF;
    padding: 15px;
    padding-left: 35px;
    background-color: #0B2265;
    background-image: linear-gradient(#0B2265, #031445);
}

.advertBannerText {
    color:#FFF !important;
    text-decoration: underline;
    font-weight: bold;
    max-height: 24px;
    min-height: 24px;
}

.btnSignup {
    background-color:#B91717;
    border-radius: 25px;
    border-color: #B91717;
    color: #FFF;
}

.editBox {
    background-color: #595F66;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}

.editBoxButton {
    border-radius: 25px;
    border: 1px solid #FFF;
    padding: 5px;
    background-color: #595F66;
    color: #FFF;
    font-weight: bold;
}

.expand {
    position:absolute;
    right:25px;
}

.expander-bg {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    color: white;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
}

.expand-icon, .unexpand-icon {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: -44px !important;
    color: white;
}

.frame {
    height: 100%;
    width: 100%;
}

.imageThumb {
    width: 80px;
}

.inactive{
    border-bottom: 2px solid #EEE;
}

.infoFrame{
    background-color:#FFF;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    height: 0;
    overflow-y: scroll;
}

.infoList {
    padding: 15px;
}

.logoBG {
    background-color: #FFF;
}

.logoImage {

    background-repeat: no-repeat;
    background-size: contain;
    max-width: 200px;
    margin: 20px 0 20px 20px;
    height: 35px;
}

.published {
    color: gray;
    opacity: 0.6;
}

.resultCount {
    padding: 10px;
    background-color: #F7F7F7;
}

.row {
    margin-right: 0;
}

.searchBar {
    padding-top: 17px;
}

.searchList {
    overflow-y:scroll;
    position: absolute;
    right: 5px;
    z-index: 1;
}

.selectVideo {
    cursor: pointer;
    border-left: 10px solid transparent;
}

.table tr {
    height: 80px;
    font-size: 14px;
    border-collapse: none;
}

.table td {
    vertical-align: middle;
}

.tabs {
    padding-top: 20px;
    margin-right: -15px;
}

.tabNotes {
    display: none;
    padding-top: 20px;
}

.tabTranscripts {
    padding-top:20px;
}

.txtInactive {
    color: darkgray;
}

.videoFrame{
    padding-right: 0;
}

@media (max-width: 900px) {
    
}
